* {
    font-family: 'Be Vietnam Pro';
    margin: 0;
    padding: 0;
}
/*--------------------------------
         Nav Bar Style 
 ---------------------------------*/
nav{
    display: flex;
    justify-content: center;
}
nav .logo h2{
    font-family: 'Be Vietnam Pro';
    margin-top: 2em;
}
/*--------------------------------
         Main Section Style 
 ---------------------------------*/
 main{
     display: flex;
     justify-content: center;
     margin-top: 10em;
 }
 main .text{
     width: 35%;
     margin-right: 14em;
     margin-left: -2em;
 }
 main .text h1{
     font-size: 2em;
 }
 main .text a{
     background-color: #E02C6D;
     text-decoration: none;
     border-radius: 41px;
     display: inline-block;
     padding: .8em 1.5em;
     color: #fff;
     margin-top: 2em;
     animation: pulse 1500ms infinite;   
 }
 @keyframes pulse{
     0%{
         box-shadow: #E02C6D 0 0 0 0;
     }
     75%{
        box-shadow: #E02C6D00 0 0 0 16px; 
     }
 }
 main .image img{
     background-image: url(images/Circle\ design.svg);
     background-repeat: no-repeat;
     background-size: contain;
     width: 120%;
     margin-top: -4em;
     transition: ease-in .3s;
 }
 main .image img:hover{
     transform: scale(1.2);
 }
/*--------------------------------
        Products Section Style 
 ---------------------------------*/
 .products{
    margin-top: 5em;
 }
 .products> h1{
    text-align: center;
    margin-bottom: 2em;
 }
 .products a{
   display: flex;
   justify-content: end;
   margin: 4em 8em;
   text-decoration: none;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   color: rgba(224, 44, 109, 0.87);
 }
 .products .product-collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 2em;
    margin-left: 8.5em;
 }
 .product{
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
    height: 476px;
    width: 329px;
 }
 .product img{
    text-align: center;
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;   
 }
 .product div {
    margin-left: 1.1em;
    margin-top: 1.5em;
}
.product p {
    color: #787885;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 175%;
 }
 .review-icon{
    color:#FB8200;
 }
 /*--------------------------------
     Coustomer_Review Section Style 
 ---------------------------------*/
 .customers-review h1{
    text-align: center;
    margin-bottom: 1.3em;  
 }
 .customers-review >div {
      display: flex;
 }
.customers-review >div .review{
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 10px 10px 40px gray;
      width: 30%;
      margin-left: 2.5em;
}
.customers-review >div .review p{
    color: #787885;
    padding: .5em 3em;
}
.customers-review >div .review img{
    width: 150px;
    display: block;
    margin: auto;
    padding-top: 1.5em;
}
.customers-review >div .review a{
    text-decoration: none;
    color: blue;
}
/*--------------------------------
     Footer Section Style 
 ---------------------------------*/
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 2em 0;
    margin-top: 2em;
    width: 100%;
}
footer p{
    color: #D9DBE1;
}
footer a{
    margin-left: 10px;
    color: white;
}
/*--------------------------------
     Responsive Phone Section Style 
 ---------------------------------*/

@media screen and (max-width: 688px){

/*--------------------------------
     Responsive Main Section Style 
 ---------------------------------*/
    nav{
        width: 95%;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    main .text {
        width: 90%;
        margin-top: -8em;
        margin-left: 1.7em;
        margin-bottom: 5em;
    }
    main .text p{
        width: 94%;
        text-align: center;
    }
    main .text a {
        margin-left: 5.5em;
    }
    main .image{
        width: 90%;
        margin-left: 1em;
        margin-top: 2em;
    }
    main .image img{
        width: 100%;
    }
/*--------------------------------------
     Responsive Products Section Style 
 --------------------------------------*/
 .products{
     width: 95%;
 }
 .products .product-collections{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2em;
    margin-left: .2em;
 }
 .product{
     margin: auto;
     width: 90%;
 }
 .product img{
     width: 90%;
    padding-left: 10px;
    margin-top: 10px;
 }
 .products a{
    display: flex;
    justify-content: end;
    margin: 4em 2em;
 }
 /*--------------------------------------
     Responsive Review Section Style 
 --------------------------------------*/
 .customers-review{
     width: 95%;
 }
 .customers-review >div {
    flex-direction: column;
    margin-left: -4.5em;
}
.customers-review >div .review {
    width: 80%;
    margin-top: 2em;
    margin-left: 5.2em;
}
}
/*---------------------------------------------
     Responsive  Style (Tablet)
 ----------------------------------------------*/
@media only screen and (max-width: 993px) and (min-width: 689px){
    main{
        margin-top: 5em;
    }
    main .text{
        width: 35%;
        margin-right: 10em;
        margin-left: 2em;
    }
    main .image{
    margin-top: 8em;
    }
    main .image{
        margin-left: 0;
    }
    main .image img{
        width: 100%;
    }
/*---------------------------------------------
     Responsive Products Section Style (Tablet)
 ----------------------------------------------*/
 .products .product-collections{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 2em;
    margin-left: 3em;
 }
 /*---------------------------------------------
     Responsive Review Section Style (Tablet)
 ----------------------------------------------*/
 .customers-review >div .review{
     margin-left: 1.25em;
 }
}